{% extends "django_api/base.html" %}

{% block title %}{{ settings.SITE_NAME }} API documentation{% endblock %}

{% block main_content %}
<p>This is the API documentation for {{ settings.SITE_NAME }}</p>
<p>The base url for all API calls are: {{ settings.EXTERNAL_API_BASE_URL }}

<h2>Table of contents – API methods</h2>
<ul>
    {% for method in api_methods %}
        <li><a href="#{{ method.name }}_{{ method.response_format|lower }}">{{ method.name }}</a></li>
    {% endfor %}
</ul>

<h2>API methods</h2>

{% for method in api_methods %}
    <div id="{{ method.name }}_{{ method.response_format|lower }}" class="api_method">
        <h3>{{ method.name }} <small>http://{{ method.get_full_url }}</small></h3>
        {{ method.description|linebreaks }}
        <dl>
            <dt>Response format:</dt>
            <dd>{{ method.get_response_format_display }}</dd>
            
            <dt>HTTP Method:</dt>
            <dd>{{ method.http_method }}</dd>
        </dl>
        <div class="clearer"></div>
        
        <h4>Required parameters</h4>
        <dl>
            <dt>api_key</dt>
            <dd>Your API key</dd>
            
            {% for parameter in method.required_parameters %}
                <dt>{{ parameter.name }}</dt>
                <dd>{{ parameter.description }} <em>({{ parameter.get_value_display|lower }})</em></dd>
            {% endfor %}
        </dl>
        
        <div class="clearer"></div>
        
        
        {% if method.optional_parameters %}
            <h4>Optional parameters</h4>
            <dl>
                {% for parameter in method.optional_parameters %}
                    <dt>{{ parameter.name }}</dt>
                    <dd>{{ parameter.description }} <em>({{ parameter.get_value_display|lower }})</em></dd>
                {% endfor %}
            </dl>
        {% endif %}
        
        <div class="clearer"></div>
        
        <h4>Example usage (in python):</h4>
<pre>
import urllib, httplib
API_KEY = 'YOUR_API_KEY'
def api_{{ method.name }}_{{ method.response_format|lower }}(api_key=None):
    api_key = api_key or API_KEY
    parameters = {
        'api_key': api_key,{% for parameter in method.required_parameters %}
        '{{ parameter.name }}': '{{ parameter.get_value_display|lower }}',
        {% endfor %}
        # Optional parameters{% for parameter in method.optional_parameters %}
        '{{ parameter.name }}': '{{ parameter.get_value_display|lower }}',{% endfor %}
    }
    parameters = urllib.urlencode(parameters)
    connection = httplib.HTTPConnection('{{ method.api_settings.domain}}')
    {% spaceless %}
    {% ifequal method.http_method "POST"  %}
    connection.request('{{ method.http_method }}', '{{ method.api_settings.base_path }}{{ method.name}}', parameters)
    {% else %}
    connection.request('{{ method.http_method }}', '{{ method.api_settings.base_path }}{{ method.name}}?%s' % (parameters))
    {% endifequal %}
    {% endspaceless %}
    response = connection.getresponse()
    print "HTTP STATUS: ", response.status, response.reason
    response_text = response.read()
    return response_text
</pre>
                </div>
{% endfor %}

{% endblock %}
